<form action="/favourites" method="post">
  <button type="submit" 
  class="
  bg-green-600 
  p-2
  hover:bg-green-950">Add to Favorite</button>
  <input type="hidden" name = "id" value="<%= home._id%>">
</form>